<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Restaurant Finder">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff" />
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
    </noscript>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100;300;400;500;700;900&display=swap" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link
            href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100;300;400;500;700;900&display=swap"
            rel="stylesheet">
    </noscript>
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </noscript>

    <title>MyResto</title>
</head>

<body>
    <a href="#mainContent" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <div class="header__inner">
            <a aria-label="Menu" tabindex="0" id="menu" class="header__menu">☰</a>
            <div class="header-container__title">
                <h1 class="header__title">MyResto</h1>
            </div>
        </div>
    </header>
    <app-bar></app-bar>
    <hero-banner></hero-banner>
    <main id="mainContent"></main>

</body>

</html>